/* Add a background color to the header element */
header { background-color: rgb(5, 62, 112);color:hotpink; font-style: oblique;}

/* Add a fun background color to the main element */
main {background-color: hotpink; border-image-width: 40px}
/* Align the h1 containing your name in the center of the header*/
h1 {text-align: center;}
/* Make your p tag a different color and italic */
p {color: rgb(111, 139, 0); font-style: italic;}
/* Put a border around your image */
img {width: 300px; height: 400; border-style: double; color:rgb(5, 62, 112); align-items: center }
/* Change the font-family of your list */
ul {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
/* Add a background color to the footer element */
footer {background-color: rgb(44, 78, 156) }
