/* Add a background color to the header element */
header { background-color: aliceblue;}

/* Add a fun background color to the main element */
main {background-color: hotpink; text-shadow: 0cqi;}
/* Align the h1 containing your name in the center of the header*/
h1 {text-align: center;}
/* Make your p tag a different color and italic */
p {color: rgb(111, 139, 0); font-style: italic;}
/* Put a border around your image */
image {border-style: groove; color: antiquewhite; }
/* Change the font-family of your list */
ul {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
/* Add a background color to the footer element */
footer {background-color: rgb(28, 19, 38)}
